body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td { 
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img { 
  border: 0;
}

input{
  border: 1px solid #b0b0b0;
  padding: 3px 5px 4px;
  color: #979797;
  width: 190px;
}

address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym { 
  border:0;
}

* {
  box-sizing: border-box;
}

.text_base {
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif
}

* {
  box-sizing: border-box;
}

.base_row {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  left: 0;
  flex: auto;
  display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left;
}

.base_column {
  flex-shrink: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  flex: auto;
  align-items: left;
	-webkit-flex-direction: column;
  flex-direction: column;
  justify-content: flex-start;
}

.base_container {
  display: block;
  width: 100%;
  height: 100%;
}
.base_container_center {
  margin: auto;
}

.base_scroll_container_v {
  overflow-y: auto;
  overflow-x: hidden;
}

.base_scroll_container_h {
  overflow-y: hidden;
  overflow-x: auto;
}

.base_scroll_container {
  overflow-y: auto;
  overflow-x: auto;
}