body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td { 
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img { 
  border: 0;
}

input{
  border: 1px solid #b0b0b0;
  padding: 3px 5px 4px;
  color: #979797;
  width: 190px;
}

address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym { 
  border:0;
}

* {
  box-sizing: border-box;
}

.text_base {
  font-size: 14px;
  padding: 0px;
  margin: 0pc;
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif
}

.base_center_container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.base_v_scroll_container {
  overflow-y: auto;
}

.base_h_scroll_container {
  overflow-y: auto;
}

* {
  box-sizing: border-box;
}

.base_column {
  float: left;
}

.base_row:after {
  content: "";
  display: table;
  clear: both;
}